<div class="container">
    <div class="col-sm-10 col-sm-push-1">
        <h2>
            Products
            <%= link_to 'Back', root_path, :class => 'btn btn-primary pull-xs-right' %>
        </h2>
        <hr />
    </div>
    <div class="col-sm-10 col-sm-push-1">
        <% @products.each do |product| %>
            <div class="media product">
              <div class="media-left">
                <a href="products/<%= product.id %>">
                  <%= image_tag product.image.url(:medium)%>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                    <%= link_to product.title, product %>
                </h4>
                <h6><%= get_money(product.price) %> | 12 Reviews <img src="/assets/stars.png" style="display: inline-block;"></h6>
                <p class="small text-xs-italic">
                    <i>
                        <a href="#">Salad</a>, <a href="#">Trader Joe's</a>, <a href="#">Chicken</a>
                    </i>
                </p>
                <p><%= product.description %> <%= link_to 'read more', product %></p>
              </div>
            </div>
        <% end %>
    </div>
</div>