<div class="container">
    <div class="col-md-8 col-md-push-2">
        <h2><%= @product.title %>
        <hr />
    </div>

    <div class="col-md-8 col-md-push-2">
        <div class="product">
            <%= image_tag @product.image.url('medium')%>
            <br />
            <br />
            <p><%= @product.description %></p>
            <% if signed_in? %>
                <%= link_to 'Leave a review', {controller: 'reviews', action: 'new', id: @product}, :class => 'btn btn-primary pull-xs-right' %>
            <% end %>  
        </div>
    </div>

    <div class="col-md-8 col-md-push-2">
        <h4>Reviews</h4>
        <hr />
        <% @reviews.each do |review| %>
            <div class="media review">
              <div class="media-left">
                <a href="#">
                  <img src="/assets/missing.jpg" width="64" height="64"/>
                </a>
                <a class="small"><%= User.find(review.user_id).email.split('@')[0] %></a>
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                    Rating: <%= review.rating %>/5 <span class="time small pull-xs-right"><%= time_ago_in_words(review.updated_at)%> ago</span>
                </h5>
                <p><%= review.description %></p>
                <% if signed_in? && current_user.id == User.find(review.user_id).id%>
                    <%= link_to 'Edit review', {controller: 'reviews', action: 'edit', id: review}, :class => 'pull-xs-right' %>
                <% end %>    
              </div>
            </div>
        <% end %>
        <br />
    </div>

    <div class="col-md-8 col-md-push-2">
        <% if signed_in? %>
            <%= link_to 'Leave a review', {controller: 'reviews', action: 'new', id: @product}, :class => 'btn btn-primary' %>
            <%= link_to 'Back', products_path, :class => 'btn btn-primary' %>
        <% end %>
    </div>

</div>